* {
    margin: 0;
    padding: 0;
    background-color: blue;
}
.box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p {
    color: white;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 10em;
 }
 
 