*{
    margin : 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: fuchsia;
}
.todo-1 {
   background-color: rgb(201, 163, 210);
   max-width: 100%;
   justify-content: center;
   gap: 100px;
}
.todo-2 {
    background-color: rgb(201, 163, 210);
    max-width: 100%;
    justify-content: center;
    gap: 100px;
}
.todo-3 {
    background-color: rgb(201, 163, 210);
    max-width: 100%;
    justify-content: center;
    gap: 100px;
}
h2 {
    text-align: center;
}
.box-1, .box-2, .box-3, .box-4, .box-5, .box-7, .box-8, .box-9, .box-6, label {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
label {
    text-align: center;
    display: block;
}
.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8, .box-9 {
    width: 30%;
    display: inline-block;
}
.img-flores {
    width: 30%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    padding-right: 3em;
}
