*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', sans-serif;
}

nav{
    height: 80px;
}

.main-img-box{
    height: 500px;
    width: 100%;
    background-color: darkcyan;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
}

.article-box{
    width: 100%;
    margin-top: 40px;
    display: grid;
    gap: 70px;
    grid-template: "empty-izq article-1 article-2 article-3 empty-der" auto
                    "empty-izq article-4 article-5 article-6 empty-der" auto / 
    1fr 420px 420px 420px 1fr;
    /* grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 350px; */
}

.article-1{
    grid-area: article-1;
}

.article-2{
    grid-area: article-2;
}

.article-3{
    grid-area: article-3;
}

.article-4{
    grid-area: article-4;
}

.article-5{
    grid-area: article-5;
}

.article-6{
    grid-area: article-6;
}

.img-article{
    background-color: rgb(64, 64, 64,.8);
    height: 300px;
    width: 100%;
    border-radius: 25px;
}

.text-content{
    color: black;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: justify;
    padding: 10px;
}

@media only screen and (max-width:1560px){
    .article-box{
        gap: 30px;
    }
}

@media only screen and (max-width:1350px){
    .article-box{
        gap: 10px;
        grid-template: "empty-izq article-1 article-2 article-3 empty-der" auto
                    "empty-izq article-4 article-5 article-6 empty-der" auto / 
                    1fr 400px 400px 400px 1fr;
    }
    .img-article{
        height: 286px;
    }
}

@media only screen and (max-width:1300px){
    .article-box{
        gap: 80px;
        grid-template: "empty-izq article-1 article-2 empty-der" auto
        "empty-izq article-3 article-4  empty-der" auto
        "empty-izq article-5 article-6  empty-der" auto  / 
        1fr 420px 420px 1fr; 
    }
    .img-article{
        height: 300px;
    }
}

@media only screen and (max-width:1050px){
    .article-box{
        grid-template: "empty-izq article-1 empty-der" auto
        "empty-izq article-2 empty-der" auto
        "empty-izq article-3 empty-der" auto
        "empty-izq article-4 empty-der" auto 
        "empty-izq article-5 empty-der" auto 
        "empty-izq article-6 empty-der" auto   / 
        1fr 650px 1fr; 
    }
    .img-article{
        height: 465px;
    }
}

@media only screen and (max-width:760px){
    .article-box{
        grid-template: "empty-izq article-1 empty-der" auto
        "empty-izq article-2 empty-der" auto
        "empty-izq article-3 empty-der" auto
        "empty-izq article-4 empty-der" auto 
        "empty-izq article-5 empty-der" auto 
        "empty-izq article-6 empty-der" auto   / 
        1fr 450px 1fr; 
    }
    .img-article{
        height: 320px;
    }
}

@media only screen and (max-width:500px){
    .article-box{
        gap: 0;
        grid-template: "empty-izq article-1 empty-der" auto
        "empty-izq article-2 empty-der" auto
        "empty-izq article-3 empty-der" auto
        "empty-izq article-4 empty-der" auto 
        "empty-izq article-5 empty-der" auto 
        "empty-izq article-6 empty-der" auto   / 
        1fr 400px 1fr; 
    }.img-article{
        height: 286px;
    }
}