*{
    padding: 0;
    margin: 0;
}
<<<<<<< HEAD
.nave-menu{
    background-color: rgb(255, 254, 254);
    width: 95%;
    display: block;
    margin: 0 auto;
    height: 60px;
    text-align: right;
    list-style: none;
    border-bottom: 0 0 10px black;
}
.menu{
    width: 95%;
    display: block;
    margin: 0 auto;
    list-style: none;
    height: 60px;
    margin-top: 1em;
    text-align: right;
    box-shadow: 0 0 10px black;
    border-bottom: 1px solid rgb(85, 84, 84);
    cursor: pointer;
}

.hamburguesa{
    display: none;
    float: left;
}
img {
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 38px;
    cursor: pointer;
    margin-top: 5px;
}
.item-menu {
    color: rgb(17, 17, 17);
    font-size: 1.3em;
    left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    cursor: pointer;  
}
.item-menu:hover {
    transform: scale(1.1);
    background-color: rgb(5, 53, 102);
    transition: ease-in .4s;
    color: aliceblue;
    border-bottom: 1px solid rgb(238, 238, 243);
}

@media only screen and (max-width:1000px){
    .item-menu{
        color: rgb(218, 203, 203);
        padding-top: 20px;
        display: block;
        margin-top: 30px;
        border-bottom: 2px solid #ffffffff;
        cursor: pointer;
    }
    .item-menu:hover{
        border-bottom: 2px solid rgb(15, 15, 15);
    }
    .menu-media-hidden {
        display: none;
    }
    .menu-media-visible {
        width: 300px;
        clear: both;
        padding-top: 10px;
        border: none;
        box-shadow: 0 0 0px;
        text-align: center;
        background-color: gray;
        height: 70vh;
    }
    .img {
        width: 100%;
        height: 50px;
        float: none;
        margin-left: 10px;
        margin-top: 5px;
        float: right;
    } 
    .hamburguesa {
        display: block;
        color: rgb(12, 12, 12);
        font-size: 1.4em;
        padding: 25px;
        padding-left: 5px;
        margin-left: 25px;
        position: absolute;
        cursor: pointer;
        margin-top: 30px;
    }
}

=======

.main-menu {
    width: 100%;
    list-style: none;
    color: white;
    width: 100vw;
    height: 50px;
    margin-top: 1em;
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: 1px solid rgb(85, 84, 84);
   
}

.item-menu {
    color: rgb(17, 17, 17);
    font-size: 1em;
    left: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    height: 30px;
    margin-right: 20px;
    
}

.item-menu:hover {
    background-color: rgb(98, 100, 102);
    transition: ease-in .4s;
    color: aliceblue;
}

img {
    margin: auto;
    margin-left: 2%;
}

.menu-hamburguesa {
    cursor: pointer;
    margin-left: 3%;
}



@media only screen and (max-width: 900px) {
    .main-menu {
        border: none;
        box-shadow: 0 0 ;
        text-align: center;align-self: start;
        cursor: pointer;
        
  
    }
    .item-menu {
        display: block;
        padding-top: 8px;
        padding-bottom: 1px;
        border-bottom: 1px solid black;
        background-color: darkgrey;
        cursor: pointer;
        transition: ease-in .4s;
        
    }

    img {
        cursor: pointer;
    }

    .nave-menu {
        background-color: blue;
    }
} 
>>>>>>> 20fabcefc1df0fe27ab07d443658307fad531593
