h1 {
    text-align: center;
    background-color: fuchsia;
    color: azure;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
   
 }
 
 
.box {
    cursor: pointer;
    width: 200px;
    height: 200px;
    border: 5px;
    display: inline-block;
    padding: 10px;
}
.box-1 {
    background-color: dodgerblue;
    box-shadow: 3px 3px 5px rgb(64,64,64.8);
    margin-left: 70px;
    margin-top: 50px;
    
}
.box-2 {
    background-color: aqua;
    box-shadow: 3px 3px 1px rgb(64,64,64,.8);
    margin-left: 70px;
    margin-top: 50px;

}
.box-3 {
     background-color: blue;
     box-shadow: 5px 5px 10px rgb(64,64,64,.8) inset; 
     margin-left: 70px;
     margin-top: 50px;
}
.box-4 {
    cursor: pointer;
    background-color: darkgray;
    margin-left: 70px;
    margin-top: 50px;
}
  
.box-4:hover {
   box-shadow: 5px 5px 5px rgb(64,64,64,.8), -5px 0 5px rgb(64,64,64,.8);
}

.box-5 {
    background-color: blueviolet;
    margin-top: 50px;
    margin-left: 70px;
}

.box-5:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.box-6 {
    background-color: brown;
    margin-top: 50px;
    margin-left: 70px;
}

.box-6:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.todo-1 {
max-width: 100%;
justify-content: center;


}

.todo-2 {
    max-width: 100%;
    justify-content: center;
   
   
    }

.todo-3 {
        max-width: 100%;
        justify-content: center;
       
}