/* Estilo utilizando elementos html */
/* Selector de elemento */
h1 {
    /* Propiedades */
    text-align: center;
    color: rgb(250, 51, 250);
}
/* Selector de clase */
.fuente-especial {
    color: rgb(236, 29, 163);
}    
/* Selectores de clase atados a un elemento */
li.fuente-especial {
    color: red;
}
body {
    background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h2 {
    color: rgb(250, 51, 250);

 }
h3 {
    color: rgb(250, 51, 250);
}

  

   