*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    height: 80px;
}
.main-img-box{
    width: 100%;
    height: 500px;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.2em;
    font-weight: 700px;
}
.article-box{
    width: 100%;
    margin-top: 40px;
    gap: 40px;
    height: 300px;
    display: grid;
    grid-template: "empty-izq article1 article2 article3" 620px 
                   "empty-izq article4 article5 article6" 620px / 
                        1fr    450px     450px     450px   1fr;
}
.article1{
    grid-area: article1;
}
.article2{ 
    grid-area: article2;
}
.article3{
    grid-area: article3;
}
.article4{
    grid-area: article4;
}
.article5{
    grid-area: article5;
}
.article6{
    grid-area: article6;
} 
.img{
    background-color: gray;
    width: 100%;
    height: 300px;
}
.text-conten{
    color: black;
    font-size: 1.3em;
    line-height: 1.6em;
    text-align: justify;
}